<% layout("layout/Boilerplate") %> 
    <h1> Edit Campground <%= campgrounds.title %> </h1>
    
    <form action="/campgrounds/<%= campgrounds.id %>/?_method=PUT" method="POST">
        <div>
            <label for="">Title</label>
            <input type="text" id="title" name="campground[title]" value="<%= campgrounds.title %> ">
        <div>
            <label for="">Location</label>
            <input type="text" id="location" name="campground[location]" value="<%= campgrounds.location %>">
        </div>
        <button>Edit Campground</button>
    </form>
    <a href="/campgrounds/<%= campgrounds.id %>">Cancel</a>
    <form action="/campgrounds/<%= campgrounds.id %>/?_method=DELETE" method="POST">
        <button>Delete</button>
